{% load static %}
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i>Agenda Terdekat</div>
    <div class="tools">
      <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
      <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
      <a title="" data-original-title="" href="" class="fullscreen"> </a>
      <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
    </div>
  </div>
  <div style="display: block;" class="portlet-body"> <!--  -->
    <div style="position: relative; overflow: hidden; width: auto; height: 300px;" class="slimScrollDiv"><div data-initialized="1" class="scroller" style="height: 300px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0">
      <ul class="feeds">
          {% for num in "xxxxxxxxxxxxx" %}
          <!-- <?php for($i = 0; $i < 13; $i++): ?> -->
          <li>
            <a href="javascript:;">
              <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-success">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc"> Finance Report for year 2013 has been released. </div>
                    </div>
                </div>
              </div>
              <div class="col2"> <div class="date"> 20 mins </div> </div>
            </a>
          </li>
          <li>
              <div class="col1">
                  <div class="cont">
                      <div class="cont-col1">
                          <div class="label label-sm label-danger">
                              <i class="fa fa-user"></i>
                          </div>
                      </div>
                      <div class="cont-col2">
                          <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                      </div>
                  </div>
              </div>
              <div class="col2">
                  <div class="date"> 24 mins </div>
              </div>
          </li>
        <!-- <?php endfor; ?> -->
        {% endfor %}
      </ul>
  </div><div style="background: rgb(187, 187, 187) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 50px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 136.986px;" class="slimScrollBar"></div><div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
  </div>
</div>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Aktifitas Terbaru</div>
        <div class="tools">
            <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
            <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a title="" data-original-title="" href="" class="fullscreen"> </a>
            <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
        </div>
    </div>
    <div style="display: block;" class="portlet-body">
      <div style="position: relative; overflow: hidden; width: auto; height: 275px;" class="slimScrollDiv"><ul data-initialized="1" class="dropdown-menu-list scroller" style="height: 275px; overflow: hidden; width: auto;" data-handle-color="#637283">
        {% for num in 'xxxxxxxxxx' %}
        <!-- <?php for($i = 0; $i < 10; $i++): ?> -->
        <li>
            <a href="#" style="display: block; clear: both; font-weight: 300; line-height: 20px; white-space: normal; font-size: 13px; padding: 16px 0px 18px; text-shadow: none;">
                <span class="photo" style="float: left; display: inline-block; margin: 0 6px 6px 0;">
                    <img src="{% static 'layouts/layout3/img/avatar2.jpg' %}" class="img-circle" style="float: left; margin: 0 6px 6px 0;" alt=""> </span>
                <span class="subject" style="display: block; margin-left: 46px;">
                    <span class="from" style="font-size: 13px; font-weight: 600;"> Lisa Wong </span>
                    <span class="time" style="font-size: 12px; font-weight: 400; opacity: .5; filter: alpha(opacity=50); float: right;">Just Now </span>
                </span>
                <span style="display: block !important; font-size: 12px; line-height: 1.3; margin-left: 46px;" 
                class="message">Menuliskan komentar jawaban di postingan Fahri Firdausillah </span>
            </a>
        </li>        
      <!-- <?php endfor; ?> -->
      {% endfor %}
    </ul><div style="background: rgb(99, 114, 131) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 158.876px;" class="slimScrollBar"></div><div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
    </div>
</div>
</div>